[submodule "vendor/gabime_spdlog"]
	path = vendor/gabime_spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/skypjack_entt"]
	path = vendor/skypjack_entt
	url = git@github.com:skypjack/entt.git
[submodule "vendor/naphipps_liquidfun"]
	path = vendor/naphipps_liquidfun
	url = git@github.com:naphipps/liquidfun.git
[submodule "vendor/naphipps_concurrentqueue"]
	path = vendor/naphipps_concurrentqueue
	url = git@github.com:naphipps/concurrentqueue.git
[submodule "vendor/naphipps_pcg-cpp"]
	path = vendor/naphipps_pcg-cpp
	url = git@github.com:naphipps/pcg-cpp.git
[submodule "vendor/naphipps_randutils"]
	path = vendor/naphipps_randutils
	url = git@github.com:naphipps/randutils.git
[submodule "vendor/g-truc_glm"]
	path = vendor/g-truc_glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/glfw_glfw"]
	path = vendor/glfw_glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/naphipps_stb"]
	path = vendor/naphipps_stb
	url = git@github.com:naphipps/stb.git
[submodule "vendor/Tencent_rapidjson"]
	path = vendor/Tencent_rapidjson
	url = git@github.com:Tencent/rapidjson.git
